body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
  
header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1,a {
  color: #ffffff;
  margin: 0;
  text-decoration: none;
}
main a {
    color: #004080;
    text-decoration:underline;
}

section {
  padding: 5px;
  max-width: 800px;
  margin: auto;
  font-family: sans-serif;
  line-height: 1.6;
}

h2,h3 {
  color: #004080;
  margin-bottom: 0px;
}

p{
  margin: 0px;
}

#footer {
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  text-align: center;
  padding: 22px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}